Test(
    name: "opaque_example",
    funcs: [
        (
            name: "i_am_opaque_to_the_test_harness",
            conventions: [Handwritten],
            inputs: [],
            output: None,
        )
    ]
)
